!/ExternalLib/*
/Tools/DBMigration/*
!/Tools/DBMigration/*.dll
!/Tools/DBMigration/*.exe
!/Tools/DBMigration/*.config
/*.suo
/*.user
bin/
obj/
/TestResults
/_ReSharper.TravelLine
/env
/TravelLine1.vsmdi
/.git
/.vs
Web/Extranet/bower_components
Web/Extranet/build
app.config*
web.config*
/packages
/build/env
/backup
.vs/
*.csproj.user
*.DotSettings.user
