<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="currencyRate" requirePermission="false" type="TravelLine.CurrencyRate.Core.Configuration.CurrencyRateConfiguration,TravelLine.CurrencyRate.Core" />
        <section name="database" requirePermission="false" type="TravelLine.CurrencyRate.Core.Configuration.DatabaseConfiguration,TravelLine.CurrencyRate.Core" />
    </configSections>
    <currencyRate environment="dev" applicationDomain="" securePath="/secure">
    </currencyRate>
    <database connectionString="Server=(localdb)\mssqllocaldb;Database=CurrencyRate_tests;Integrated Security=true;AttachDbFileName=|DataDirectory|\CurrencyRate_tests.mdf" readonlyConnectionString="Server=(localdb)\mssqllocaldb;Database=CurrencyRate_tests;Integrated Security=true;AttachDbFileName=|DataDirectory|\CurrencyRate_tests.mdf">
    </database>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
  