<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="webAppTemplate" requirePermission="false" type="TravelLine.WebAppTemplate.Core.Configuration.WebAppTemplateConfiguration,TravelLine.WebAppTemplate.Core" />
        <section name="database" requirePermission="false" type="TravelLine.WebAppTemplate.Core.Configuration.DatabaseConfiguration,TravelLine.WebAppTemplate.Core" />
    </configSections>
    <webAppTemplate environment="dev" applicationDomain="" securePath="/secure">
    </webAppTemplate>
    <database connectionString="Server=(localdb)\mssqllocaldb;Database=WebAppTemplate_tests;Integrated Security=true;AttachDbFileName=|DataDirectory|\WebAppTemplate_tests.mdf" readonlyConnectionString="Server=(localdb)\mssqllocaldb;Database=WebAppTemplate_tests;Integrated Security=true;AttachDbFileName=|DataDirectory|\WebAppTemplate_tests.mdf">
    </database>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
  