<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <deploymentSettings>
        <dev>
            <domain name="currencyRate" />
            <deploymentDir path="d:\TL\innerProjects\TLCurrencyRate\App" />
        </dev>
        <qa>
            <domain name="currencyRate" />
            <deploymentDir path="d:\TL\innerProjects\TLCurrencyRate\App" />
        </qa>
        <qa2>
            <domain name="currencyRate" />
            <deploymentDir path="d:\TL\innerProjects\TLCurrencyRate\App" />
        </qa2>
        <prod>
            <domain name="currencyRate" /> <!--app name in IIS-->
            <deploymentDir path="d:\TL\innerProjects\TLCurrencyRate\App" />
        </prod>
    </deploymentSettings>

    <!-- Общий раздел для всех сред. Для переопределения параметра необходимо перенести его в секцию appSettings2 и указать значения для различных сред. -->
    <appSettings1>
        <appSettings>
            <add key="webpages:Version" value="3.0.0.0" />
            <add key="webpages:Enabled" value="false" />
            <add key="ClientValidationEnabled" value="true" />
            <add key="UnobtrusiveJavaScriptEnabled" value="true" />
            <add key="owin:AutomaticAppStartup" value="false" />
            <add key="Version" value="0.0.1"/>
            <add key="ErrorSenderEmailAddress" value="noreply@dev.travelline.ru"/>
        </appSettings>
    </appSettings1>

    <!-- Настройки под разработчика. -->    
    <appSettings2>
        <common>
            <add key="ErrorMailDispatchPoint" value="mail_travelline_ru" />
            <add key="ErrorReceiverEmailAddress" value="ilya.romanov@travelline.ru" />
            <add key="LogsDir" value="d:\TL\innerProjects\TLCurrencyRate\logs" />
        </common>
        <dev>
            <add key="ErrorMailDispatchPoint" value="mail_travelline_ru" />
            <add key="ErrorReceiverEmailAddress" value="ilya.romanov@travelline.ru" />
            <add key="LogsDir" value="d:\TL\innerProjects\TLCurrencyRate\logs" />
        </dev>
        <ilya.romanov>
            <add key="ErrorMailDispatchPoint" value="mail_travelline_ru" />
            <add key="ErrorReceiverEmailAddress" value="ilya.romanov@travelline.ru" />
            <add key="LogsDir" value="d:\TL\innerProjects\TLCurrencyRate\logs" />
        </ilya.romanov>
        <qa>
            <add key="ErrorMailDispatchPoint" value="bugs_travelline_ru" />
            <add key="ErrorReceiverEmailAddress" value="bugs@dev.travelline.ru" />
            <add key="LogsDir" value="d:\TL\innerProjects\TLCurrencyRate\logs" />
        </qa>
        <qa2>
            <add key="ErrorMailDispatchPoint" value="bugs_travelline_ru" />
            <add key="ErrorReceiverEmailAddress" value="bugs@dev.travelline.ru" />
            <add key="LogsDir" value="d:\TL\innerProjects\TLCurrencyRate\logs" />
        </qa2>
        <prod>
            <add key="ErrorMailDispatchPoint" value="bugs_travelline_ru" />
            <add key="ErrorReceiverEmailAddress" value="bugs@dev.travelline.ru" />
            <add key="LogsDir" value="d:\TL\innerProjects\TLCurrencyRate\logs" />
        </prod>
    </appSettings2>

    <!-- TLAccounts configuration -->
    <tlAccountsLib>
        <common accountServiceBaseUrl="http://accounts.devbs1.travelline.lan/"  memcacheExpirationSeconds="60" />
        <dev    accountServiceBaseUrl="http://accounts.devbs1.travelline.lan/"  memcacheExpirationSeconds="60" />
        <ilya.romanov 
                accountServiceBaseUrl="http://accounts.devbs1.travelline.lan/"  memcacheExpirationSeconds="60" />        
        <qa     accountServiceBaseUrl="https://accounts-qa.travelline.lan/"     memcacheExpirationSeconds="60" />
        <qa2    accountServiceBaseUrl="https://accounts-qa2.travelline.lan/"    memcacheExpirationSeconds="60" />
        <prod   accountServiceBaseUrl="https://accounts.travelline.wan"         memcacheExpirationSeconds="60" />
    </tlAccountsLib>

    <authentication>
        <common mode="Forms">
            <forms name="_TLTICKET" loginUrl="/secure/Enter.aspx" protection="All" timeout="1440" enableCrossAppRedirects="True" slidingExpiration="True" path="/" cookieless="UseCookies" domain=".tlcent54.travelline.lan" />
        </common>
        <dev mode="Forms">
            <forms name="_TLTICKET" loginUrl="/secure/Enter.aspx" protection="All" timeout="1440" enableCrossAppRedirects="True" slidingExpiration="True" path="/" cookieless="UseCookies" domain=".tlcent54.travelline.lan" />
        </dev>
        <ilya.romanov mode="Forms">
            <forms name="_TLTICKET" loginUrl="/secure/Enter.aspx" protection="All" timeout="1440" enableCrossAppRedirects="True" slidingExpiration="True" path="/" cookieless="UseCookies" domain=".tlcent54.travelline.lan" />
        </ilya.romanov>
        <qa mode="Forms">
            <forms name="_TLTICKET" loginUrl="/secure/Enter.aspx" protection="All" timeout="1440" enableCrossAppRedirects="True" slidingExpiration="True" path="/" cookieless="UseCookies" domain=".qatl.ru" />
        </qa>
        <qa2 mode="Forms">
            <forms name="_TLTICKET" loginUrl="/secure/Enter.aspx" protection="All" timeout="1440" enableCrossAppRedirects="True" slidingExpiration="True" path="/" cookieless="UseCookies" domain=".qatl2.ru" />
        </qa2>
        <prod mode="Forms">
            <forms name="_TLTICKET" loginUrl="/secure/Enter.aspx" protection="All" timeout="1440" enableCrossAppRedirects="True" slidingExpiration="True" path="/" cookieless="UseCookies" domain=".travelline.ru" />
        </prod>
    </authentication>

    <database>
        <common   connectionString="Data Source=DEVSQL;Initial Catalog=currencyRate;Network Library=dbmssocn;Pooling=true;Integrated Security=SSPI;Application Name=CurrencyRate" 
          readonlyConnectionString="Data Source=DEVSQL;Initial Catalog=currencyRate;Network Library=dbmssocn;Pooling=true;Integrated Security=SSPI;Application Name=CurrencyRate;ApplicationIntent=ReadOnly" />
        <dev      connectionString="Data Source=DEVSQL;Initial Catalog=currencyRate_dev;Network Library=dbmssocn;Pooling=true;Integrated Security=SSPI;Application Name=CurrencyRate"
          readonlyConnectionString="Data Source=DEVSQL;Initial Catalog=currencyRate_dev;Network Library=dbmssocn;Pooling=true;Integrated Security=SSPI;Application Name=CurrencyRate;ApplicationIntent=ReadOnly" />
        <ilya.romanov    
                  connectionString="Data Source=DEVSQL;Initial Catalog=CurrencyRate;Network Library=dbmssocn;Pooling=true;Integrated Security=SSPI;Application Name=CurrencyRate"
          readonlyConnectionString="Data Source=DEVSQL;Initial Catalog=CurrencyRate;Network Library=dbmssocn;Pooling=true;Integrated Security=SSPI;Application Name=CurrencyRate;ApplicationIntent=ReadOnly" />          
        <qa       connectionString="Data Source=DEVHASQL;Initial Catalog=currencyRate_qa1;Network Library=dbmssocn;Pooling=true;Integrated Security=SSPI;Application Name=CurrencyRate"
          readonlyConnectionString="Data Source=DEVHASQL;Initial Catalog=currencyRate_qa1;Network Library=dbmssocn;Pooling=true;Integrated Security=SSPI;Application Name=CurrencyRate;ApplicationIntent=ReadOnly" />
        <qa2      connectionString="Data Source=DEVHASQL;Initial Catalog=currencyRate_qa2;Network Library=dbmssocn;Pooling=true;Integrated Security=SSPI;Application Name=CurrencyRate"
          readonlyConnectionString="Data Source=DEVHASQL;Initial Catalog=currencyRate_qa2;Network Library=dbmssocn;Pooling=true;Integrated Security=SSPI;Application Name=CurrencyRate;ApplicationIntent=ReadOnly" />          
        <prod     connectionString="Data Source=TLSQLcurrencyRate;Initial Catalog=currencyRate;Network Library=dbmssocn;Pooling=true;Integrated Security=SSPI;MultiSubnetFailover=True;Application Name=CurrencyRate"
          readonlyConnectionString="Data Source=TLSQLcurrencyRate;Initial Catalog=currencyRate;Network Library=dbmssocn;Pooling=true;Integrated Security=SSPI;MultiSubnetFailover=True;Application Name=CurrencyRate;ApplicationIntent=ReadOnly" />
    </database>

    <!-- CurrencyRate Project configuration -->
    <currencyRate>
        <common environment="local" applicationDomain="http://currencyRate" securePath="/secure" />
        <dev environment="dev" applicationDomain="" securePath="/secure" />
        <ilya.romanov environment="ilya.romanov" applicationDomain="" securePath="/secure" />
        <qa environment="qa" applicationDomain="" securePath="/secure" />
        <qa2 environment="qa2" applicationDomain="" securePath="/secure" />
        <prod environment="prod" applicationDomain="" securePath="/secure" />
    </currencyRate>

    <!-- api key settings for remote auth management -->
    <accountsApi>
        <common apiKey="EF069BF6-6308-49D6-833E-97BD67179E80" />
        <dev    apiKey="EF069BF6-6308-49D6-833E-97BD67179E80" />
        <qa     apiKey="EF069BF6-6308-49D6-833E-97BD67179E80" />
        <qa2    apiKey="EF069BF6-6308-49D6-833E-97BD67179E80" />
        <prod   apiKey="EF069BF6-6308-49D6-833E-97BD67179E80" />
    </accountsApi>

    <!-- tlTransitLib configuration. Required settings for tlTransitLib.dll -->
    <tlTransit>
        <common            host="localhost"                           transport="RabbitMQ" user="tlapplication" password="password" />
        <dev               host="rabbitmqdev.travelline.lan/dev"      transport="RabbitMQ" user="tlapplication" password="password" />
        <ilya.romanov   host="rabbitmqdev.travelline.lan/dev"      transport="RabbitMQ" user="tlapplication" password="password" />
        <qa                host="rabbitmqdev.travelline.lan:5671/qa"  transport="RabbitMQ" user="tlapplication" password="password" useSsl="true" />
        <qa2               host="rabbitmqdev.travelline.lan/qa2"      transport="RabbitMQ" user="tlapplication" password="password" />
        <prod              host="rabbitmq.travelline.wan:5671"        transport="RabbitMQ" user="tlapplication" password="password" useSsl="true" />
    </tlTransit>

    <!-- Log4Net configuration for TLIntegrationService-->
    <log4netTLIntegrationService>
        <common>
            <appender name="TLTransitErrorTextLog" type="log4net.Appender.RollingFileAppender">
                <filter type="log4net.Filter.LevelRangeFilter">
                    <levelMin value="WARN" />
                    <levelMax value="FATAL" />
                </filter>
                <file value="%property{LogsDir}\TLIntegrationService\log-" type="log4net.Util.PatternString" />
                <appendToFile value="true" />
                <rollingStyle value="Date" />
                <datePattern value="yyyy-MM-dd'.log'" />
                <staticLogFileName value="false" />
                <encoding value="utf-8" /> 
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%d{HH:mm:ss.fff} [%type] %-5p %message%newline%exception" />
                </layout>
                <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            </appender>
			<!--
            <appender name="ErrorEmailStorageLogAppender" type="TravelLine.CurrencyRate.Core.Extensions.Log4Net.EmailStorageLogAppender, TravelLine.CurrencyRate.Core">
                <threshold value="ERROR" />
                <layout type="log4net.Layout.PatternLayout,log4net">
                    <param name="ConversionPattern" value="%logger  %message" />
                </layout>
            </appender>
			-->
            <root>
                <level value="ALL" />
                <appender-ref ref="TLTransitErrorTextLog" />
                <!--<appender-ref ref="ErrorEmailStorageLogAppender" />-->
            </root>
        </common>
    </log4netTLIntegrationService>

    <!-- Log4Net configuration for Extranet-->
    <log4net>
        <common>
            <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
                <threshold value="WARN" /> 
                <file value="%property{LogsDir}\log-" type="log4net.Util.PatternString" /> 
                <appendToFile value="true" /> 
                <rollingStyle value="Date" /> 
                <datePattern value="yyyy-MM-dd'.log'" /> 
                <staticLogFileName value="false" /> 
                <encoding value="utf-8" /> 
                <layout type="log4net.Layout.PatternLayout">
                    <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" /> 
                </layout>
                <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            </appender>
            <!--
			<appender name="ErrorEmailStorageLogAppender" type="TravelLine.CurrencyRate.Core.Extensions.Log4Net.EmailStorageLogAppender, TravelLine.CurrencyRate.Core">
                <threshold value="ERROR" />
                <layout type="log4net.Layout.PatternLayout,log4net">
                    <param name="ConversionPattern" value="%logger  %message" />
                </layout>
            </appender>
			-->
            <root>
                <level value="ALL" />
                <appender-ref ref="LogFileAppender" />
                <!--<appender-ref ref="ErrorEmailStorageLogAppender" />-->
            </root> 
        </common>
    </log4net>
    
    <travellineService>
        <common   apiKey="23F4BCF4-3CC8-4147-96A8-2776BBD20369" servicesBaseUrl="http://travelline" />
        <dev      apiKey="23F4BCF4-3CC8-4147-96A8-2776BBD20369" servicesBaseUrl="http://be.travelline" />
        <qa       apiKey="23F4BCF4-3CC8-4147-96A8-2776BBD20369" servicesBaseUrl="https://be-qa.travelline.lan" />
        <qa2      apiKey="23F4BCF4-3CC8-4147-96A8-2776BBD20369" servicesBaseUrl="https://be-qa2.travelline.lan" />
        <prod     apiKey="23F4BCF4-3CC8-4147-96A8-2776BBD20369" servicesBaseUrl="http://bepool.travelline.wan" />
    </travellineService>

    <mailDispatchPoints>
        <common>
            <add id="mail_travelline_ru" server="mx.travellinemail.com" username="order@travellinemail.com"  password="xih6F85HL2k8KChXRK8G" /> 
            <add id="bugs_travelline_ru" server="mxdev.travelline.ru"   username="noreply@dev.travelline.ru" password="fsa6EHUiKGCndm" />
        </common>
    </mailDispatchPoints>

    <!-- LogSystem: export logs to global log system -->
    <logSystem>
        <!-- default params values: clientName="CurrencyRate"  recordsAtOnce="50" maxContentLength="6144" exportAttempts="3" sendLogInterval="600" -->
        <common   serviceUrl="https://logsystem.travelline.lan/SaveMultiple.aspx"     clientName="CurrencyRate" sendLogInterval="600" />
        <qa       serviceUrl="https://logsystem-qa1.travelline.lan/SaveMultiple.aspx" clientName="CurrencyRate" sendLogInterval="600" />
        <qa2      serviceUrl="https://logsystem-qa2.travelline.lan/SaveMultiple.aspx" clientName="CurrencyRate" sendLogInterval="600" />
        <prod     serviceUrl="https://logsystem.travelline.wan/SaveMultiple.aspx"     clientName="CurrencyRate" sendLogInterval="600" />
    </logSystem>

    <system.net>
        <common>
            <connectionManagement>
                <add address="*" maxconnection="200" />
            </connectionManagement>
        </common>
    </system.net>

</config>